body { 
    background-color: #E5F9E0;
    font-family: Tahoma, Geneva, sans-serif;
    color: rgba(241, 229, 175, 0.877);
    padding-bottom: 15px;
}
h1 {
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    font-size: 40px;
    color: rgb(73, 68, 49);
}